body{
    background-color:#f2f2f2;
}
.navbar {
    
    overflow: hidden;
    margin-bottom: 80px;
    background-color: sandybrown;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 18px;
    margin-right: 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #04AA6D;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: #04AA6D;
    color: white;
  }
  .image{
    height: 300px;
    width: 400px;
    border-radius: 25px;
  }
  .box{
    height: 150px;
    width: 150px;
    background-color: red;
    border-radius: 15px;
    /* margin-top: 75px; */
    margin-left: 40px;
    font-size: 20px;
  }
  .firstBlock{
    display: flex;
    margin-inline: 25px;
    align-items: center;
    justify-content: center;
  }
   .loanBox{ 
  
    margin-left: 20px;
    font-size: 20px;
  } 
  /* .loanBox a:hover{
    background-color: blue;
  } */
  .applyForLoan{
    margin-left: 20px;
    background: #fff500;
    border-radius: 40px;
    width: 100%;
    max-width: 185px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    text-align: center;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    color: #c83e0c;
    
    /* text-decoration: none; */
  }
  .applyForLoan a:hover{
    color: black;
    /* height: 25px;
    width: 140px; */
    /* background-color: blue; */
  }
/* --------------work of 31 may--------------------- */