body{
    background-color:#f2f2f2;
}
.navbar {
    
    overflow: hidden;
    margin-bottom: 80px;
    background-color: sandybrown;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 18px;
    margin-right: 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #04AA6D;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: #04AA6D;
    color: white;
  }
  .image{
    height: 300px;
    width: 400px;
    border-radius: 25px;
  }
  .box{
    height: 150px;
    width: 150px;
    background-color: red;
    border-radius: 15px;
    /* margin-top: 75px; */
    margin-left: 20px;
    padding: 20px;
    font-size: 20px;
  }
  .firstBlock{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* flex-direction: column; */
    margin-inline: 25px;
    align-items: center;
    justify-content: center;
  }
   .loanBox{ 
  
    margin-left: 20px;
    font-size: 20px;
  } 
  /* .loanBox a:hover{
    background-color: blue;
  } */
  .applyForLoan{
    margin-left: 20px;
    background: #fff500;
    border-radius: 40px;
    width: 100%;
    max-width: 185px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    text-align: center;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    color: #c83e0c;
    
    /* text-decoration: none; */
  }
  .applyForLoan a:hover{
    color: black;
    /* height: 25px;
    width: 140px; */
    /* background-color: blue; */
  }
  /* @media (max-width: 800px){
    .firstBlock{
      flex-direction: column; !important
      padding: 10px;
      background-color: blue;
    }
    .box{
      background-color: blue;
    }
  } */
/* --------------work of 31 may--------------------- */
 .secondBlock{ 
   display: flex;
   flex: auto;
   margin: 80px;

  padding: 30px 15px;
   
} 
  .howToApply{
    
    
    height: 600px;
    width: 500px;
    padding: 30px 15px;
    background-color: cornsilk;
    border-radius: 20px;
    /* margin-left: 200px; */
  }
  .howToApply h4 {
    position: relative;
    font-size: 18px;
    color: #f15921;
    font-family: Roboto-Black;
    padding-bottom: 10px;
}

.howToApply p {
    position: relative;
    font-size: 12px;
    color: #7C7C7C;
    padding-bottom: 10px;
    font-weight: 600;
    margin-bottom: 20px;
}
.howToApply .table li:not(:last-child) {
  float: left;
}

.howToApply .table li img {
  float: left;
  /* text-align: left;
margin-right: 28px; */
}

.howToApply .table li h5 {
  font-size: 16px;
  margin-top: 23px;
  /* text-align: right; */
  font-weight: 700;
  /* width: 97%; */
  margin-left: 180px;
}

.howToApply a {
  font-size: 14px;
  color: #c83e0c;
  font-family: Roboto-Bold;
  display: block;
  text-align: right;
  float: right;
}
  .table li h5{
    font-size: 16px;
    margin-top: 23px;
    margin-right: 105px;
    /* text-align: right; */
    font-weight: 700;
    /* width: 97%; */
    margin-left: 180px;
  }
  .list-inline li:not(:last-child) {
    float: left;
}
/* -------------------2 june 2021 ---------------------*/